* {
    scroll-behavior: smooth;
}

:root {
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
    --vp-c-brand-lighter: #9499ff;
    --vp-c-brand-lightest: #bcc0ff;
    --vp-c-brand-dark: #535bf2;
    --vp-c-brand-darker: #454ce1;
    --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
    --vp-c-brand-darkest: #0000ff;
    --vp-c-brand-transparent: rgba(100, 108, 255, 0.1);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(
            292deg,
            #ddab64,
            #646cff
    );
    --vp-home-hero-image-background-image: linear-gradient(
            rgb(190 145 81),
            rgb(198 144 80)
    );
    --vp-home-hero-image-filter: blur(40px);
}

html.dark:root {
    --vp-home-hero-name-background: linear-gradient(
            292deg,
            #C58F4F,
            #454ce1
    );
    --vp-home-hero-image-background-image: linear-gradient(
            rgb(197 143 79),
            rgb(151 102 39)
    );
}

.VPHero .VPImage.image-src {
    max-height: 192px;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
    .VPHero .VPImage.image-src {
        max-height: 256px;
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
    .VPHero .VPImage.image-src {
        max-height: 320px;
    }
}